:root {
    --card-bg1: hsl(31, 77%, 52%);
    --card-bg2: hsl(184, 100%, 22%);
    --card-bg3: hsl(179, 100%, 13%);
    --neutral-color1:hsla(0, 0%, 100%, 0.75); /*for paragraphs*/
    --neutral-color2:hsl(0, 0%, 95%); /*for background, headings and buttons*/
    --font-size: 15px;
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lexend Deca', sans-seri
}

body{
    font-size: var(--font-size);
    background-color: var(--neutral-color2);
}

main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cards{
    width: 90%;
    margin: 86px auto;
    display: flex;
    flex-direction: column;
}

.card{
    padding: 46px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card:first-of-type{
    background-color: var(--card-bg1);
    border-radius: 8px 8px 0 0;
}

.card:nth-of-type(2){
    background-color: var(--card-bg2);
}

.card:last-of-type{
    background-color: var(--card-bg3);
    border-radius: 0 0 8px 8px;
}

.card h1{
    color: var(--neutral-color2);
    padding: 30px 0;
    font-family: 'Big Shoulders Display', sans-serif;
    font-size: 40px;
    text-transform: uppercase;
}

.card p{
    padding: 0;
    width: 98%;
    color: var(--neutral-color1);
    line-height: 1.64375rem;
}

.card button{
    background: var(--neutral-color2);
    width: 147px;
    height: 48px;
    margin-top: 1rem;
    border: none;
    border: 2px solid transparent;
    border-radius: 25px;
    font-size: var(--font-size);
    transition: .5s;
    cursor: pointer;
}

.card:first-of-type button{
    color: var(--card-bg1);
} 

.card:nth-of-type(2) button{
    color: var(--card-bg2);
} 

.card:last-of-type button{
    color: var(--card-bg3);
} 

button:hover{
    background: transparent;
    color: var(--neutral-color2) !important;
    border-color:var(--neutral-color2);
}


@media screen and (min-width: 350px) and (max-width: 1024px) {
    .cards{
        width: 327px;
    }

    .card{
        height: 441px;
    }

    .card button{
        margin-top: 0;
    }
}
     
@media screen and (min-width: 1025px) {
    main{
        height: 100vh;
        flex-direction: row;
    }

    .cards{
        width: 921px;
        height: 500px;
        flex-direction: row;
        margin: 31px auto 0 auto;
    }

    .card{
        width: 33.34%;
        height: 100%;
    }

    .card:first-of-type{
        border-radius: 8px 0 0 8px;
    }

    .card:last-of-type{
        border-radius: 0 8px 8px 0;
    }
}